		 	*{
		padding: 0;
		margin:0;
		box-sizing: border-box;
		font:sans-serif;

	}
	.div1{
		width: 100%;
		background-image: url("img/background-01.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	.div2{
		width: 100%;
		background: rgba(0,0,0,0.6);	
		position:fixed;top: 0;
		left: 0;
	}
	.div3{
		width: 30%;
		margin: 0 auto;
		color: white;
		text-align: center;
	}
	.a1{
		text-decoration: none;
		float:right;
		font-size: 20px;
		direction: ltr;
		padding: 2px;
		color: white;
		margin: 24px 3px;
	}
	.a1:hover{color: yellow;}
	.div4{
		text-align: center;
		font-size: 25px;
		height:80vh;
		width: 100%;
		background-color: grey;
		background: rgba(0,0,0,0.1);
	}
	.div5{
		width: 17%;
		height:40vh;
		border:1px solid green;
		font-size: small;
		float: left;
		margin: 0 1vh;
		padding-top: 10px
	}.div6{
		margin: 0 auto;
		width: 100%;
		text-align: center;
		height: 80vh;		
	}
	.div7{
		width: 20%;
		height: 55vh;
		float: left;
		border: 1px outset grey;
		margin: 11px;
		text-align: center;
		box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.2);
		}
	.div8{
		width: 21%;
		height: 44vh;
		float: left;
		border: 1px solid white;
		margin: 11px;
		text-align: center;

	}	