/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	header { height: 305px; }
	.eget-box-text {
		width: 100%;
		top: 32%;
		left: 0%;
	}
	.eget-box-text h1 {
		font-size: 1.5em;
	}
	.eget-box-60 {width: 100%; }
	.eget-box-40 {width: 100%; }
	.about-img {width: 100%; }
	.about-text { width: 100%; }
}
