header{

}
.ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);

}

.li1 {
  float: left;	
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1:hover:not(.active) {
  background-color:black;
}

.active {
  background-color:green;
}
.ul2{
   list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  left: 2;
  overflow: auto;
  float: left;
  width: 15%;
  height: 100%"                                                                                                                                                                                                         
  
}
.li2{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.li2:hover{
  background-color: grey;
}
.div1{
	float: left;
	width: 70%;
}
