*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
header{
	border: 1px solid black;
	padding: 15px 10px;

}
nav{
	
}
.ul1{
list-style-type: none;
background-color: gray;
overflow: hidden;
padding: 0px 20px;	
border: 1px solid black;
position: sticky;
top: 0px;	

}
.li1{
	float: left;
	padding: 17px 6px;
	font-size: 25px
}
.li1:hover{
	background-color: green;
}
aside{
	position: fixed
}
.ul2{
background-color: grey;
	height: 600px;
	overflow: auto

}
.li2{
font-size:25px;
list-style-type: none;
width: 100%;
padding: 2px 80px	2px 10px;
}
.li2:hover{
	background-color: green;
}
section	{

	position: relative;
	left: 11%;
	top: 20%;
	overflow: auto;

}